p {
    color: yellow;
    font-family: 'Times New Roman', Times, serif
}

h1 {
    color: yellow;
    font-family: 'Times New Roman', Times, serif
}

h2 {
    color: yellow;
    font-family: 'Times New Roman', Times, serif
}

body {
    background-color: black
}